.landing {
	margin-top: 5.8em;
	position: absolute;
	top: -6em;
	left: 0;
	width: 100%;
	z-index: 500;
	background: url(../images/background.jpg) 47% 4% / 255% no-repeat;

	&__container {
		width: 90%;
		margin: 0 auto;
	}
	&__logo-container {
		margin: 7em auto 11em;
		padding: 6em 0;
		width: 14em;
	}
	&__logo {

	}
}