.main-nav {

	@media screen and (max-width: 1023px) {
		text-align: center;
		max-height: 0;
		overflow: hidden;
		transition: all 350ms ease-in;

		&.show-menu {
			max-height: 27rem;
		}
	}

	&__list {
		margin: 0;
		padding: 1em 0 2em;
		list-style: none;
	}
	&__item {

	}
	&__item-img {

		@media screen and (max-width: 1023px) {
			display: none;
		}
	}
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: $bold;
		display: inline-block;
		line-height: 3.5;
		font-size: 1.1em;
		color: $color1;
	}
}